<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <title>Mission to Mars</title>
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center border-bottom">
      <h1 class="font-weight-bold">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-md" href="../scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2><u>Latest Mars News</u></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4>{{mars.news_title}}</h4>
        <p>{{mars.news_para}}</p>
      </div>
    </div>

    <div class="card">
      <h3>Mars Facts</h3>
      {{mars.fact_table}}
    </div>

    <div class="row">
      <div class="col-md-8 offset-4">
        <h2 class="align-items-center"><u>Mars Hemispheres</u></h2>
      </div>
    </div>
    <!-- <div class="row">       
          {% for hem in mars.hemisphere_images %} 
            <div class="col-6 border">
                  <div>
                    <img width="512 px" height="512 px" src="{{hemisphere_images.image_url}}">
                  </div>

                  <div>
                    <h4> {{hem.title}} </h4>  
                  </div>
          
            </div>
          {% endfor %}
  </div>  -->

    <hr>

  </div>
</body>

</html>